body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

#image-container {
    display: none; /* Ảnh bị ẩn ban đầu */
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

#image-container img {
    width: 100%; /* Đảm bảo ảnh không vượt quá kích thước container */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* CSS cho ảnh IMG_2735 */
.image-container img {
    width: 100%;  /* Đảm bảo ảnh chiếm 100% chiều rộng của container */
    max-width: 500px; /* Giới hạn chiều rộng tối đa */
    height: auto; /* Đảm bảo tỷ lệ ảnh không bị thay đổi */
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng cho ảnh */
}
